<button class="aria-button-facade"
    [ngStyle]="{'color': getColor()}" 
    [disabled]="isDisabled()" 
    [id]="getId()" 
    [attr.aria-details]="getDetails()" 
    [attr.aria-label]="getLabel()"
    (click)="onButtonClick($event);"
    (dblclick)="onButtonDblClick($event);"
    (touchstart)="onButtonDown($event);"
    (touchend)="onButtonUp($event);"
    ng-mousedown="onButtonDown($event);"
    ng-mouseup="onButtonUp($event);"
    >
    <ng-content></ng-content>
</button>

    